{% extends 'base.html.twig' %}

{% block title %}{{ 'person.new.label'|trans }}{% endblock %}

{% block body %}
    <div class="container">   
        <h1>{{ 'person.create.label'|trans }}</h1>

        {{ include('_shared/_flash_message.html.twig') }}
        {{ include('app/person/_form.html.twig') }}

        <a href="{{ path('app_person_index') }}" class="btn btn-secondary my-2">
            {{ 'back_to_directory.label'|trans }}
        </a>
    </div>
{% endblock %}
